#01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Exercise 4.6 - STEP 3: In a new notebook, import the orders_products_combined dataframe from the pickle fle you just saved.

#02. Importing data

In [2]:
path = r'/Users/kristincpeterson/Desktop/DataAnalytics/Achievement_4/Instacart Basket Analysis'

In [3]:
path

'/Users/kristincpeterson/Desktop/DataAnalytics/Achievement_4/Instacart Basket Analysis'

In [7]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'orders_products_combined.pkl'))

## STEP 4: Check the shape of the imported dataframe (it should be the same as the one you exported)

In [8]:
# Checking the rows and columns of df_ords_prods_combined

df_ords_prods_combined.shape

(32434489, 13)

#### The shape of the imported dataframe matches what was exported.

## STEP 5: Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you're using your wrangled, cleaned, and deduped products data set stored in your "Prepared Data" folder from the previous Exercise's task.

In [9]:
# Importing products_checked.csv from Prepared Data folder

df_prods = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'products_checked.csv'), index_col = False)

In [10]:
# Checking the rows and columns of df_prods

df_prods.shape

(49693, 6)

In [11]:
# Checking the head of df_prods

df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Checking the head of df_ords_prods_combined

df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [15]:
# Merging the df_prods and df_ords_prods_combined dataframes using product_id as a key

df_ords_prods_merged = df_prods.merge(df_ords_prods_combined, on = ['product_id'])

In [16]:
df_ords_prods_merged

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,3321928,1788356,200215,prior,2,0,9,5.0,27,0,both
32434208,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3324686,3401313,200377,prior,1,4,11,NaN,5,0,both
32434209,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,3332310,809510,200873,prior,5,3,8,15.0,12,0,both
32434210,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,3332314,2359893,200873,prior,9,3,15,5.0,11,1,both
32434211,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,3416620,2385091,205926,prior,11,1,15,6.0,35,0,both

## STEP 6: Confirm the results of the merge using the merge flag.

In [19]:
# Checking the values in the merge column

df_ords_prods_merged['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [20]:
# Drop unnamed columns in df_ords_prods_merged (not necessary) 

df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0.1', 'Unnamed: 0_y', '_merge'])

In [21]:
df_ords_prods_merged

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,prior,2,0,9,5.0,27,0
32434208,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,prior,1,4,11,NaN,5,0
32434209,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,prior,5,3,8,15.0,12,0
32434210,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,prior,9,3,15,5.0,11,1
32434211,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,prior,11,1,15,6.0,35,0

In [22]:
# Checking the rows and columns of df_ords_prods_merged

df_ords_prods_merged.shape

(32434212, 14)

## STEP 7: Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [23]:
# Export data to pkl

df_ords_prods_merged.to_pickle(os.path.join(path, '02_Data', 'Prepared_Data', 'orders_products_combined.pkl'))

## STEP 8: Ensure your notebooks and Instacart folder are organized and that comments and section headings have been used throughout your code. All your exported data files should be effectively labeled and stored in your "Data" folder.